{% extends "layout.html" %}

{% block content %}
<style>
    td.labels {
        width: 200px;
        text-align: right;
        padding-right: 10px;
    }
 </style>
<h1>Add TV Shows</h1>
<form action="{{ url_for('clr_new_show') }}" method="POST">
    <input style="margin-top: 0px;" type="submit" value="Clear New Show List">
</form>
<div>
    {% if entries %}
    {% for entry in entries %}
    <div>
        <hr>
        <form action="{{ url_for('delete_new_show', ns_id=entry['id']) }}" method="POST">
            <h2>
                {{ entry['name'] }}
                <input style="width: 100px; margin-left: 50px; margin-right: 50px"
                       type="submit" value="Delete">
                {% if entry['matches'] %}
                    <span style="color: red; font-style: italic">
                        A theTVDB show matches an existing show.
                    </span>
                {% endif %}
            </h2>
        </form>
        {% if entry['data'] %}
        {% for item in entry['data'] %}
        <div>
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <table style="margin-left: 100px">
                    <tr style="border: 2px solid black">
                        <td style="border: 1px solid black; width: 100px; text-align: center">
                            {{loop.index}}
                        </td>
                        <td style="border: 1px solid black; padding: 10px">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://www.thetvdb.com/series/{{ item['slug'] }}">
                                <IMG SRC="http://thetvdb.com/banners/{{ item['banner'] }}"
                                    alt="Banner for '{{ item['seriesName'] }}'"></a>
                            <table style="width: 100%">
                                <tr>
                                    <td class="labels">
                                        {{ form.show_name.label }}
                                    </td>
                                    <td>
                                        {{ form.show_name(size=35, value=item['seriesName']) }}<br>
                                        {% for error in form.show_name.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.show_dir.label }}
                                    </td>
                                    <td>
                                        {{ form.show_dir(size=35, value=item['fixed']) }}<br>
                                        {% for error in form.show_dir.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.watching.label }}
                                    </td>
                                    <td>
                                        {{ form.watching() }}<br>
                                        {% for error in form.watching.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.theTVDB_id.label }}
                                    </td>
                                    <td>
                                        {{ form.theTVDB_id(readonly=True, size=35,
                                            value=item['id']) }}<br>
                                        {% for error in form.theTVDB_id.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.theTVDB_name.label }}
                                    </td>
                                    <td>
                                        {{ form.theTVDB_name(readonly=True, size=35,
                                            value=item['seriesName']) }}<br>
                                        {% for error in form.theTVDB_name.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.theTVDB_slug.label }}
                                    </td>
                                    <td>
                                        {{ form.theTVDB_slug(readonly=True, size=35,
                                            value=item['slug']) }}<br>
                                        {% for error in form.theTVDB_slug.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.theTVDB_status.label }}
                                    </td>
                                    <td>
                                        {{ form.theTVDB_status(readonly=True, size=35,
                                            value=item['status']) }}<br>
                                        {% for error in form.theTVDB_status.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="labels">
                                        {{ form.new_show_id.label }}
                                    </td>
                                    <td>
                                        {{ form.new_show_id(readonly=True, size=35,
                                            value=entry['id']) }}<br>
                                        {% for error in form.new_show_id.errors %}
                                        <span style="color: red;">
                                            [{{ error }}]
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td style="padding-top: 10px; padding-bottom: 10px">
                                        {% if item['exists'] %}
                                            {{ form.submit(disabled=True) }}
                                            <font color="red"><i>A show with this theTVDB ID already exists.</i></font>
                                        {% else %}
                                            {{ form.submit() }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; padding-right: 10px; padding-top: 10px">
                                        network:
                                    </td>
                                    <td style="padding-top: 10px">
                                        {{ item['network'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; padding-right: 10px; padding-top: 10px">
                                        overview:
                                    </td>
                                    <td style="padding-top: 10px">
                                        {{ item['overview'] }}
                                    </td>
                                </tr>
                            </table>
                            <p><small>{{ item }}</small></p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {% endfor %}
        {% else %}
        <p style="color: red; font-style: italic; margin-top: 15px; margin-left: 100px">
            theTVDB API returned no matches.
        </p>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <p style="color: red; font-style: italic; margin-top: 15px; margin-left: 100px">
        No new shows to add
    </p>
    {% endif %}
</div>
{% endblock %}