<!DOCTYPE html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - NAS Media Manager</title>
    {% else %}
    <title>Welcome to NAS Media Manager</title>
    {% endif %}
</head>

<body>
    <div>
        NAS Media Manager: <a href="{{ url_for('home') }}">[Home]</a>
                           <a href="{{ url_for('new_shows') }}">[New Shows]</a>
                           <a href="{{ url_for('add_shows') }}">[Add Shows]</a>
                           <a href="{{ url_for('update_shows') }}">[Update Shows]</a>
                           <a href="{{ url_for('list_shows') }}">[List Shows]</a>
                           <a href="{{ url_for('read_media_tv') }}">[Read Media]</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="background-color:yellow">
        <ul>
            {% for message in messages %}
            <b>
                <li>{{ message }}</li>
            </b>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <hr>
    {% block content %}
    {% endblock %}
</body>

</html>