{% extends "layout.html" %}

{% block content %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
</style>

<h1>Update Shows</h1>

{% for entry in entries %}
<div>
    <h4>{{ entry['show'] }}</h4>

    <table>
        <tr>
            <td style="text-align:right;">
                dir:
            </td>
            <td>
                {{ entry['show_dir'] }}
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">
                watching:
            </td>
            <td>
                {{ entry['watching'] }}
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">
                theTVDB id:
            </td>
            <td>
                {{ entry['theTVDB_id'] }}
            </td>
        </tr>
    </table>

    {% for season in entry['seasons'] %}
    <div style="margin-left: 100px">
        <p>Season: {{ season['season'] }} <small>({{ entry['show'] }})</small></p>
        <div style="margin-left: 100px">
            <table>
                <tr>
                    <th>
                        Episode
                    </th>
                    <th>
                        Air Date
                    </th>
                    <th>
                        Downloaded
                    </th>
                    <th>
                        theTVDB id
                    </th>
                    <th>
                        theTVDB name
                    </th>
                </tr>
                {% for episode in season['episodes'] %}
                <tr>
                    <td>
                        {{ episode['episode'] }}
                    </td>
                    <td>
                        {{ episode['air_date'] }}
                    </td>
                    <td>
                        {{ episode['downloaded'] }}
                    </td>
                    <td>
                        {{ episode['theTVDB_id'] }}
                    </td>
                    <td style="text-align: left;">
                        {{ episode['theTVDB_name'] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}