{% extends "layout.html" %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
</style>

<h1>Update Shows</h1>

<h3>Entries</h3>
{% for entry in entries %}
<div>
    <h4>{{ entry['show'] }}</h4>
    Aired Seasons: {{ entry['aired_seasons'] }}

    {% for season in entry['seasons'] %}
    <div style="margin-left: 100px">
        <p>Season: {{ season['season'] }}</p>
        <div style="margin-left: 100px">
            <table>
                <tr>
                    <th>
                        Episode
                    </th>
                    <th>
                        Air Date
                    </th>
                </tr>
                {% for episode in season['episodes'] %}
                <tr>
                    <td>
                        {{ episode['episode'] }}
                    </td>
                    <td>
                        {{ episode['air_date'] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}