{% extends "layout.html" %}

{% block content %}
<h1>Movies Pending</h1>
{% if entries %}
<div>
    {% for entry in entries %}
    <div>
        <hr>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.file_name.label }}
                    </td>
                    <td>
                        {{ form.file_name(readonly=True, size=100, 
                                           value=entry['filename']) }}<br>
                        {% for error in form.file_name.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.path_name.label }}
                    </td>
                    <td>
                        {{ form.path_name(readonly=True, size=100, 
                                           value=entry['path']) }}<br>
                        {% for error in form.path_name.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.dir_name.label }}
                    </td>
                    <td>
                        {{ form.dir_name(size=100, 
                                          value=entry['proposed']) }}<br>
                        {% for error in form.dir_name.errors %}
                        <span style="color: red;">
                            [{{ error }}]
                        </span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            {{ form.submit() }}
            <a target="_blank" rel="noopener noreferrer"
                href="https://www.imdb.com/find?ref_=nv_sr_fn&q={{ entry['search'][0] }}+%28{{ entry['search'][1] }}%29&s=tt">
                {{ '[Check IMDB for {} ({})]'.format(*entry['search']) }}
            </a>
        </form>
        {% if entry['download']['http_status'] != 200 %}
        <p style="color: red; font-style: italic; margin-top: 15px; margin-left: 100px">
            {{ entry['download'] }}
        </p>
        {% elif entry['download']['total_results'] == 0 %}
        <p style="color: red; font-style: italic; margin-top: 15px; margin-left: 100px">
            TMDb API returned no matches.
        </p>
        {% else %}
        <div>
            {% for result in entry['download']['results'] %}
            <table>
                <tr>
                    <td>
                        <div style="width:150px; margin-left: 100px; margin-top: 15px" align="center">
                            <a href="https://www.themoviedb.org/movie/{{ result['id'] }}}">
                                {% if result['order'] == 0 %}
                                <IMG SRC="{{ result['poster_path'] }}" ALT="poster for {{ result['title'] }}"
                                    HEIGHT=200>
                                {% else %}
                                <IMG SRC="{{ result['poster_path'] }}" ALT="poster for {{ result['title'] }}"
                                    HEIGHT=100>
                                {% endif %}
                            </a>
                        </div>
                    </td>
                    <td>
                        {% if result['order'] == 0 %}<div>{% else %}<small>{% endif %}
                        <div>
                            <p>{{ result['title'] }} ({{ result['release_date'][:4] }}) -
                                <i><small>{{ result['release_date'] }}</small></i>
                            </p>
                            {% if result['original_title'] != result['title'] %}</p>
                            <div>
                                <p>Original Title: {{ result['original_title'] }}</p>
                            </div>
                            {% endif %}
                            <p>{{ result['overview'] }}</p>
                        </div>
                        {% if result['order'] == 0 %}</div>{% else %}</small>{% endif %}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<span style="color: red; font-style: italic; margin-left: 100px">
    Directory Empty
</span>
{% endif %}

{% endblock %}